In [6]:
import pandas as pd
import pymongo
import os
from dotenv import load_dotenv

In [7]:
# Load environment variables from .env file
load_dotenv()

True

In [2]:
data = pd.read_csv('data.csv')
data.sample(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
305489,305490,Male,22,1,47.0,0,< 1 Year,Yes,28352.0,152.0,59,0
14778,14779,Female,21,1,15.0,0,< 1 Year,Yes,33960.0,152.0,62,0
139354,139355,Female,33,1,5.0,0,< 1 Year,Yes,29287.0,113.0,234,0
180629,180630,Female,51,1,47.0,0,> 2 Years,Yes,37486.0,26.0,181,1
145585,145586,Female,71,1,28.0,1,1-2 Year,No,46714.0,124.0,37,0

In [ ]:
# convert dataframe to list of dictionaries
data = data.to_dict(orient='records')

In [10]:
DB_NAME = os.getenv("DB_NAME")
COLLECTION_NAME = os.getenv("COLLECTION_NAME")
COLLECTION_URL = os.getenv("COLLECTION_URL")

In [12]:
client = pymongo.MongoClient(COLLECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [13]:
rec = collection.insert_many(data)

In [14]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>